<div class="reset-password-area">
    <b class="title">Reset Password</b>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="form-group mb-3">
            <label class="small-text bold" for="password">New Password</label>
            <input type="password" class="form-control input-field" (input)="onPassword($event,password.value)" formControlName="password" id="password" placeholder="Enter Password">
            <div class="text text-danger" *ngIf="resetPasswordForm.get('password')?.touched && resetPasswordForm.get('password')?.hasError('required')"><small class="small-help-text">Password is required</small></div>
            <div class="text text-danger" *ngIf="resetPasswordForm.get('password')?.dirty && resetPasswordForm.get('password')?.hasError('minlength')"><small class="small-help-text">Password length should be minimum 8 characters</small></div>
        </div>
        <div class="form-group mb-3">
            <label class="small-text bold" for="confirmPassword">Confirm New Password</label>
            <input type="password" (input)="onConfirmPassword($event)" #password class="form-control input-field" id="confirmPassword" placeholder="Enter Password Again">
            <div class="text text-danger" *ngIf="passwordNotSame"><small class="small-help-text">Passwords do not match</small></div>
        </div>
        <div>
            <button [disabled]="(!resetPasswordForm.valid) || passwordNotSame" type="submit" [className]="(!resetPasswordForm.valid) || passwordNotSame ? 'btn btn-register-disabled' : 'btn btn-register'">Reset</button>
        </div>
    </form>
</div>
