<div class="user-area">
    <img src="../../../assets/avatars/{{getUser().avatarId}}.png" width="20%">
    <b (click)="onProfileClick()" class="user-name">{{getUser().firstName}} {{getUser().lastName}}</b>
    <span (click)="onProfileClick()" class="user-id">@{{getUser().loginId}}</span>
    <hr class="user-hr">
    <span class="tweet-count">{{getUser().tweetCount}} tweets</span>
    <hr class="user-hr">
    <a (click)="changePassword()" class="user-function-button"><span class="material-icons user-function-button-icon">password</span> Change Password</a>
    <a (click)="logoutUser()" class="user-function-button"><span class="material-icons user-function-button-icon">logout</span> Logout</a>
</div>