.user-area {
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    font-size: small;
    min-height: 100vh;
    z-index: 1;
}

.user-name {
    margin-top: 10px;
    font-size: large;
    cursor: pointer;
}

.user-id {
    color: gray;
    font-size: small;
    cursor: pointer;
}

.user-hr {
    margin: 5px 0;
}

.user-function-button {
    text-decoration: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: white;
    margin-top: 10px;
}

.user-function-button-icon {
    font-size: 15px;
    margin-right: 5px;
}