<footer>
    <nav class="navbar navbar-expand-lg navbar-dark nav-div">
        <a class="nav-icon nav-link" *ngIf="getUser()" [routerLink]="['/home']"><span class="material-icons">home</span></a>
        <a class="nav-icon nav-link" *ngIf="getUser()"><span class="material-icons">search</span></a>
        <a class="nav-icon nav-link d-lg-none" *ngIf="getUser()" [routerLink]="['/user']"><span class="material-icons">person</span></a>
        <a class="nav-icon nav-link" *ngIf="getUser()" [routerLink]="['/users']"><span class="material-icons">people</span></a>
        <a class="nav-icon nav-link" *ngIf="getUser()"><b class="hashtag-button">#</b></a>
        <a class="nav-icon nav-link" *ngIf="!getUser()" [routerLink]="['/signup']"><span class="material-icons">person_add</span></a>
        <a class="nav-icon nav-link" *ngIf="!getUser()" [routerLink]="['/login']"><span class="material-icons">login</span></a>
    </nav> 
</footer>