.tweet-area {
    margin: 15px;
    padding: 15px;
    background-color: rgb(17, 17, 17);
    font-size: small;
    display: flex;
}

.user-avatar {
    height: 50px;
    width: 50px;
}

.tweet {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.tweet-user {
    font-size: 16px;
}

.tweet-user .user-name {
    color: white;
    max-width: 150px;
}

.tweet-user .user-handle {
    color: gray;
    margin: 0px 5px 0px 5px;
}

.tweet-user .tweet-time-seperator {
    font-size: 12px;
    margin-right: 5px;
    color: gray;
}

.tweet-user .tweet-time {
    font-size: 14px;
    color: gray;
}

.tweet-text {
    margin-top: 10px;
}

.tweet-actions {
    margin-top: 15px;
    display: flex;
}

.tweet-actions .tweet-action {
    width: 100px;
    font-size: 12.5px;
    display: flex;
    align-items: center;
}

.tweet-actions .tweet-action .tweet-action-icon {
    font-size: 20px;
    margin-right: 5px;
    cursor: pointer;
}
