<div class="tweet-area" #tweet>
    <img src="../../assets/images/userdp.png" class="user-avatar">
    <div class="tweet">
        <div class="tweet-user">
            <b class="user-name">Kaarthikeyan Raghavan</b>
            <span class="user-handle">@kragh-dev</span>
            <span class="tweet-time-seperator">&#8226;</span>
            <span class="tweet-time">3h</span>
        </div>
        <div class="tweet-text">
            Hello, I am Kaarthikeyan. This is my first tweet. Please like this tweet and share for maximum support.
        </div>
        <div class="tweet-actions">
            <div class="tweet-action"><span class="material-icons tweet-action-icon">favorite_border</span>13.1K</div>
            <div class="tweet-action"><span class="material-icons tweet-action-icon">chat_bubble_outline</span>236</div>
            <span></span>
        </div>
    </div>
</div>