/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap');

@font-face {
    font-family: "Blackout Sunrise";
    src: local("Blackout Sunrise"), url("./assets/fonts/blackout/Blackout Sunrise.ttf") format("truetype");
 }

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lexend Deca', sans-serif;
    margin: 0;
    color: white;
    background-color: black;
    height: 100%;
}

.body-area {
    max-width: 1124px !important;
    margin: 0 auto;
    height: 100%;
}

/* Width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #838383;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(68, 68, 70);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(53, 53, 54);
}

.small-text {
	font-size: small;
}

.large-text {
	font-size: large;
}

.xlarge-text {
	font-size: x-large;
}

.bold{
    font-weight: bold;
}

.small-help-text {
    font-size: x-small;
}

.break-newline {
    white-space: pre-wrap
}

.hashtag {
    color: #3989e4;
}

.hashtag-button {
    font-size: 20px;
}