/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap');

body{
    font-family: 'Lexend Deca', sans-serif;
    margin: 0;
    color: white;
	background-color: black;
}